<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form>
  <h2>The bill page</h2>
  <p>Fill in the form to get the result</p>
    {{bill_form.amount.label}}{{bill_form.amount}}
    <br>
    {{bill_form.period.label}}{{bill_form.period}}
    <hr>
    {{bill_form.name1.label}}{{bill_form.name1}}
    <br>
    {{bill_form.days_to_visit1.label}}{{bill_form.days_to_visit1}}
    <hr>
    {{bill_form.name2.label}}{{bill_form.name2}}
    <br>
    {{bill_form.days_to_visit2.label}}{{bill_form.days_to_visit2}}
    <hr>
    {{bill_form.button}}
</form>
</body>
</html>